---
import Layout from "../layouts/Layout.astro";
import Preloader from "../components/Preloader.astro";
import MainHeader from "../components/MainHeader.astro";
import MainSection from "../components/MainSection.astro";
import AppointmentSection from "../components/AppointmentSection.astro";
import ServicesSection from "../components/ServicesSection.astro";
import PricingSection from "../components/PricingSection.astro";
import FacilitySection from "../components/FacilitySection.astro";
import InternetSection from "../components/InternetSection.astro";
import InfoSection from "../components/InfoSection.astro";
import MainFooter from "../components/MainFooter.astro";
import SearchPopup from "../components/SearchPopup.astro";
import MapSection from "../components/MapSection.astro";
---

<Layout title="Netsystem">
  <main>
    <div class="page-wrapper">
      <!-- Preloader -->
      <Preloader />

      <!-- Main Header -->
      <MainHeader />
      <!-- End Main Header -->

      <!-- Main Section -->
      <MainSection />
      <!-- End Main Section -->

      <!-- Appointment Section -->
      <AppointmentSection />
      <!-- End Appointment Section -->

      <!-- Services Section -->
      <ServicesSection />
      <!-- End Services Section -->

      <!-- Internet Section -->
      <InternetSection />
      <!-- End Internet Section -->

      <!-- Facility Section -->
      <FacilitySection />
      <!-- End Facility Section -->

      <!-- Pricing Section -->
      <PricingSection />
      <!-- End Pricing Section -->

      <!-- Store Section -->
      <MapSection />
      <!-- End Store Section -->

      <!-- CTA Section -->
      <InfoSection />
      <!-- End CTA Section -->

      <!-- Main Footer -->
      <MainFooter />
      <!-- End Main Footer -->
    </div>
    <!--End pagewrapper-->

    <!-- Search Popup -->
    <SearchPopup />
    <!-- End Header Search -->
  </main>
</Layout>
