---
import Layout from "../layouts/Layout.astro";
import Preloader from "../components/Preloader.astro";
import MainHeader from "../components/MainHeader.astro";
import SidebarCartItem from "../components/SidebarCartItem.astro";
import MainSection from "../components/MainSection.astro";
import AppointmentSection from "../components/AppointmentSection.astro";
import ServicesSection from "../components/ServicesSection.astro";
import PricingSection from "../components/PricingSection.astro";
import FacilitySection from "../components/FacilitySection.astro";
import InternetSection from "../components/InternetSection.astro";
import TestimonialSection from "../components/TestimonialSection.astro";
import ClientsSection from "../components/ClientsSection.astro";
import CTASection from "../components/CTASection.astro";
import FeaturedSection from "../components/FeaturedSection.astro";
import StoreSection from "../components/StoreSection.astro";
import MainFooter from "../components/MainFooter.astro";
import SearchPopup from "../components/SearchPopup.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="page-wrapper">
      <!-- Preloader -->
      <Preloader />

      <!-- Main Header -->
      <MainHeader />
      <!-- End Main Header -->

      <!-- Sidebar Cart Item -->
      <SidebarCartItem />
      <!-- END sidebar widget item -->

      <!-- Main Section -->
      <MainSection />
      <!-- End Main Section -->

      <!-- Appointment Section -->
      <AppointmentSection />
      <!-- End Appointment Section -->

      <!-- Services Section -->
      <ServicesSection />
      <!-- End Services Section -->

      <!-- Pricing Section -->
      <PricingSection />
      <!-- End Pricing Section -->

      <!-- Facility Section -->
      <FacilitySection />
      <!-- End Facility Section -->

      <!-- Internet Section -->
      <InternetSection />
      <!-- End Internet Section -->

      <!-- Testimonial Section -->
      <TestimonialSection />
      <!-- End Testimonial Section -->

      <!-- Clients Section -->
      <ClientsSection />
      <!-- End Clients Section -->

      <!-- Featured Section -->
      <FeaturedSection />
      <!-- End Featured Section -->

      <!-- Store Section -->
      <StoreSection />
      <!-- End Store Section -->

      <!-- CTA Section -->
      <CTASection />
      <!-- End CTA Section -->

      <!-- Main Footer -->
      <MainFooter />
      <!-- End Main Footer -->
    </div>
    <!--End pagewrapper-->

    <!-- Search Popup -->
    <SearchPopup />
    <!-- End Header Search -->
  </main>
</Layout>
