<section
  class="appointment-section"
  style="background-image: url(images/background/pattern-1.png)"
>
  <div class="auto-container">
    <div class="row clearfix">
      <!-- Title Column -->
      <div class="title-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column">
          <h3>Let's find deals and services available in your area</h3>
        </div>
      </div>

      <!-- Form Column -->
      <div class="form-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column">
          <div class="appointment-form">
            <form method="post" action="contact.html">
              <div class="form-group">
                <input
                  type="email"
                  name="email"
                  value=""
                  placeholder="Enter street address & apartment"
                  required=""
                />
                <button type="submit" class="theme-btn btn-style-two"
                  ><span class="txt"
                    >Check Availability <i class="lnr lnr-arrow-right"
                    ></i></span
                  ></button
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
