<section class="facility-section" style="background-image: url(images/background/pattern-6.png)">
  <div class="auto-container">
    <!-- Sec Title -->
    <div class="sec-title">
      <div class="clearfix">
        <div class="pull-left">
          <!-- <div class="title">Galería de imágenes</div> -->
          <h2>Galería de imágenes</h2>
        </div>
        <!-- <div class="pull-right">
          <div class="text">Business is the activity of making one's living or making money by producing <br> cumsociis natoque penatibus et magnis dis partu rient to montes. Aene an <br> massa. cumsociis natoque penatibus.  </div>
        </div> -->
      </div>
    </div>
    <!-- End Sec Title -->
    <div class="row clearfix">
    
      <!-- Blocks Column -->
      <div class="blocks-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column">
          <div class="row clearfix">
            
            <!-- Facility Block -->
            <div class="facility-block col-lg-6 col-md-6 col-sm-12">
              <div class="inner-box">
                <!-- <div class="pattern-layer" style="background-image: url(images/background/pattern-14.png)"></div>
                <div class="icon-box flaticon-swimming-pool"></div>
                <h5><a href="services-detail.html">Free Installation</a></h5>
                <div class="text">Lorem ipsum dolor sit amet them consec tetur elit sed do eiumod. Donec quam felis ies nec.</div> -->
              </div>
            </div>
            
            <!-- Facility Block -->
            <div class="facility-block col-lg-6 col-md-6 col-sm-12">
              <div class="inner-box">
                <!-- <div class="pattern-layer" style="background-image: url(images/background/pattern-14.png)"></div>
                <div class="icon-box flaticon-5g"></div>
                <h5><a href="services-detail.html">Ultrafast Connect</a></h5>
                <div class="text">Lorem ipsum dolor sit amet them consec tetur elit sed do eiumod. Donec quam felis ies nec.</div> -->
              </div>
            </div>
            
            <!-- Facility Block -->
            <div class="facility-block col-lg-6 col-md-6 col-sm-12">
              <div class="inner-box">
                <!-- <div class="pattern-layer" style="background-image: url(images/background/pattern-14.png)"></div>
                <div class="icon-box flaticon-8k"></div>
                <h5><a href="services-detail.html">4K and 8K Quality</a></h5>
                <div class="text">Lorem ipsum dolor sit amet them consec tetur elit sed do eiumod. Donec quam felis ies nec.</div> -->
              </div>
            </div>
            
            <!-- Facility Block -->
            <div class="facility-block col-lg-6 col-md-6 col-sm-12">
              <div class="inner-box">
                <!-- <div class="pattern-layer" style="background-image: url(images/background/pattern-14.png)"></div>
                <div class="icon-box flaticon-customer-service"></div>
                <h5><a href="contact.html">Fast Support 24/7</a></h5>
                <div class="text">Lorem ipsum dolor sit amet them consec tetur elit sed do eiumod. Donec quam felis ies nec.</div> -->
              </div>
            </div>
            
          </div>
        </div>
      </div>
      
      <!-- Image Column -->
      <div class="image-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column">
          <div class="pattern-layer"></div>
          <div class="image wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
            <img src="images/resource/facility.png" alt="" />
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>

<style>
  .inner-box {
    height: 300px;
  }
</style>