<section id="galeria" class="facility-section" style="background-image: url(images/background/pattern-6.png)">
  <div class="auto-container">
    <!-- Sec Title -->
    <div class="sec-title">
      <div class="clearfix">
        <div class="pull-left">
          <h2>Galería de imágenes</h2>
        </div>
      </div>
    </div>
    <!-- End Sec Title -->
    <div class="row clearfix">
    
      <!-- Blocks Column -->
      <div class="blocks-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column">
          <div class="row clearfix">
            
            <!-- Facility Block -->
            <div class="facility-block col-lg-6 col-md-6 col-sm-12">
              <div class="inner-box" style="background-image: url(images/gallery/technicians.jpg); background-size: cover">
                <div class="pattern-layer" ></div>
              </div>
            </div>
            
            <!-- Facility Block -->
            <div class="facility-block col-lg-6 col-md-6 col-sm-12">
              <div class="inner-box" style="background-image: url(images/gallery/office.jpg); background-size: cover">
              </div>
            </div>
            
            <!-- Facility Block -->
            <div class="facility-block col-lg-6 col-md-6 col-sm-12">
              <div class="inner-box" style="background-image: url(images/gallery/equipment.jpg); background-size: cover">
              </div>
            </div>
            
            <!-- Facility Block -->
            <div class="facility-block col-lg-6 col-md-6 col-sm-12">
              <div class="inner-box" style="background-image: url(images/gallery/experts.jpg); background-size: cover">
              </div>
            </div>
            
          </div>
        </div>
      </div>
      
      <!-- Image Column -->
      <div class="image-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column">
          <div class="pattern-layer"></div>
          <div class="image wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
            <img src="images/gallery/main-image.png" alt="" />
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>

<style>
  .inner-box {
    height: 300px;
  }
</style>