<section
  class="internet-section"
  style="background-image: url(images/background/11.jpg)"
>
  <div class="auto-container">
    <div class="clearfix">
      <div class="content-column">
        <h2>Save money by bundling your internet service with TV service.</h2>
        <div class="text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eius to
          mod tempor incididunt ut labore et dolore magna aliqua. Ut enims ad
          minim veniam. Aenean massa. Cum sociis natoque penatibus et magnis dis
          partu rient to montes.Aene an massa.
        </div>
        <div class="price">$25/ per month</div>
        <a href="about.html" class="theme-btn btn-style-four"
          ><span class="txt">Read More <i class="lnr lnr-arrow-right"></i></span
          ></a
        >
      </div>
    </div>
  </div>
</section>
