<header class="main-header">
  <!-- Header Top -->
  <div class="header-top">
    <div class="auto-container clearfix">
      <div class="pull-left">
        <ul class="info">
          <li>Habilitación de CONTATEL Nº 00738</li>
        </ul>
      </div>

      <div class="pull-right clearfix">
        <!-- Social Box -->
        <ul class="social-box">
          <li>
            <a
              style="visibility: hidden"
              href="https://www.facebook.com/"
              class="fa fa-facebook-f"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Header Lower -->
  <div class="header-lower">
    <div class="auto-container clearfix">
      <div class="inner-container netsystem-header-menu">
        <div class="pull-left logo-box">
          <div class="logo">
            <a href="#inicio"
              ><img src="images/netsystem-logo.png" alt="" title="" /></a
            >
          </div>
        </div>
        <div class="nav-outer clearfix">
          <!-- Mobile Navigation Toggler -->
          <div class="mobile-nav-toggler">
            <span class="icon flaticon-menu"></span>
          </div>
          <!-- Main Menu -->
          <nav class="main-menu show navbar-expand-md">
            <div class="navbar-header">
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <div
              class="navbar-collapse collapse clearfix"
              id="navbarSupportedContent"
            >
              <ul class="navigation clearfix">
                <li class="current dropdown" data-menu-item="inicio">
                  <a href="#">Inicio</a>
                </li>
                <li class="dropdown" data-menu-item="planes">
                  <a href="#planes">Planes</a>
                </li>
                <li class="dropdown" data-menu-item="panel">
                  <a href="#panel">Panel de usuario</a>
                </li>
                <li class="dropdown" data-menu-item="galeria">
                  <a href="#galeria">Galeria</a>
                </li>
                <li class="dropdown" data-menu-item="servicios">
                  <a href="#servicios">Servicios</a>
                </li>
                <li>
                  <a href="#contacto" data-menu-item="contacto">Contacto</a>
                </li>
              </ul>
            </div>
          </nav>
          <!-- Main Menu End-->
        </div>
      </div>
    </div>
  </div>
  <!-- End Header Lower -->

  <!-- Sticky Header  -->
  <div class="sticky-header">
    <div class="auto-container netsystem-header-menu">
      <!-- Logo -->
      <div class="logo pull-left">
        <a href="#home"
          ><img src="images/netsystem-logo.png" alt="" title="" /></a
        >
      </div>

      <!--Right Col-->
      <div class="pull-right">
        <!-- Main Menu -->
        <nav class="main-menu">
          <!--Keep This Empty / Menu will come through Javascript-->
        </nav><!-- Main Menu End-->

        <div class="mobile-nav-toggler">
          <span class="icon flaticon-menu"></span>
        </div>
      </div>
    </div>
  </div><!-- End Sticky Menu -->

  <!-- Mobile Menu  -->
  <div class="mobile-menu">
    <div class="menu-backdrop"></div>
    <div class="close-btn"><span class="icon flaticon-multiply"></span></div>

    <nav class="menu-box">
      <div class="nav-logo">
        <!-- <a href="index.html"><img src="images/logo.png" alt="" title="" /></a> -->
        <a href="#inicio"
          ><img src="images/netsystem-logo.png" alt="" title="" /></a
        >
      </div>
      <div class="menu-outer">
        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
      </div>
    </nav>
  </div><!-- End Mobile Menu -->
</header>

<script>
  const listItems = document.querySelectorAll(
    "#navbarSupportedContent ul li.dropdown"
  );

  listItems.forEach((item) => {
    item.addEventListener("click", () => {
      const elements = document.querySelectorAll(
        `[data-menu-item="${item.dataset.menuItem}"]`
      );

      listItems.forEach((li) => {
        li.classList.remove("current");
      });

      elements.forEach((element) => {
        element.classList.add("current");
      });
    });
  });
</script>

<style>
  .logo-box .logo img {
    width: 70px;
    height: auto;
  }

  .sticky-header .logo.pull-left a[href="#home"] img {
    width: 85px;
    height: 70px;
  }

  .netsystem-header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sticky-header .netsystem-header-menu .mobile-nav-toggler {
    display: flex;
    justify-content: flex-end;
  }

  @media only screen and (min-width: 768px){
  .logo-box .logo img {
    width: 110px;
  }

  .sticky-header .logo.pull-left a[href="#home"] img {
    width: 95px;
    height: auto;
  }
	.sticky-header .netsystem-header-menu .mobile-nav-toggler {
		display: none;
	}
}

@media only screen and (max-width: 1340px){
  .logo-box .logo img {
    width: 130px;
  }

  .sticky-header .logo.pull-left a[href="#home"] img {
    width: 105px;
  }
}
</style>
