<footer id="contacto" class="main-footer">
  <div
    class="pattern-layer-one"
    style="background-image: url(/images/background/pattern-12-new.png)"
  >
  </div>
  <div
    class="pattern-layer-two"
    style="background-image: url(/images/background/pattern-13-new.png)"
  >
  </div>
  <div class="auto-container">
    <div class="widgets-section">
      <div class="logo">
        <a href="index.html"><img src="/images/netsystem-logo.png" alt="" /></a>
      </div>
      <h4 class="footer-message">Envíanos un mensaje por WhatsApp</h4>
      <ul class="contact-info-list">
        <li>
          <p class="contact-title">Soporte técnico</p>
          <a href="tel:+58-412-765-3967">0412-765-3967</a><br />
          <a href="tel:+58-412-765-1885">0412-7651-885</a><br>
          <a href="tel:+0268-251-3038">0268-251-3038</a>
        </li>
        <li>
          <p class="contact-title">Atención al cliente</p>

          <a href="tel:+268-253-2179">0268-253-2179</a><br />
          <a href="tel:+268-252-0808">0268-252-0808</a><br>
          <a href="tel:+58-412-685-4183">0412-685-4183</a><br>
        </li>
      </ul>

      <!-- Social Box -->
      <ul class="social-box">
        <li>
          <a href="https://www.facebook.com/" class="fa fa-facebook-f"></a>
        </li>
        <li><a href="https://www.linkedin.com/" class="fa fa-linkedin"></a></li>
        <li><a href="https://skype.com/" class="fa fa-skype"></a></li>
        <li><a href="https://www.twitter.com/" class="fa fa-twitter"></a></li>
      </ul>
    </div>
  </div>
  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <div class="auto-container">
      <div class="copyright">    
        TV Cable Net Systems. Derechos reservados ® {new Date().getFullYear()} | Publicado por 
        <a href="https://novanet.studio/" target="_blank"><img src="images/novanet-logo.svg" alt=""></a>
      </div>
    </div>
  </div>
</footer>

<style>
  .logo {
    margin-left: auto;
    margin-right: auto;
    width: 169px;
    height: 169px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo img {
    width: 115px;
    height: 108px;
  }

  .contact-title {
    color: #0B94B8;
  }

  .footer-message {
    font-weight: 700;
    line-height: 46.8px;
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin-bottom: 21px;
    text-wrap: balance;
  }

  @media only screen and (max-width: 479px) {
    .contact-info-list {
      display: flex;
      gap: 2rem;
      justify-content: center;
    }

    .contact-info-list li {
      margin-right: 0;
      padding-left: 0;
    }

    .footer-message {
      font-size: 28px;
    }

    .copyright {
      font-size: 13px !important;
      text-wrap: balance;
    }
  }
</style>