<section id="inicio" class="main-slider">
  <div class="main-slider-carousel owl-carousel owl-theme">
    <div
    class="slide"
    >
      <div
        class="pattern-layer"
        style="background-image: url(/images/main-slider/pattern-layer.png)"
      >
      </div>
      <div class="auto-container">
        <!-- Content Boxed -->
        <div class="content-boxed">
          <div class="inner-box">
            <h1>Baja latencia en tus servicios de streaming</h1>
            <p class="text-white lead">Navegación 100% fluida, estable e ilimitada, con más de 80 canales de televisión vía fibra, con soporte técnico los 7 días de la semana</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  #inicio .main-slider-carousel .slide {
    background-image: url(/images/main/streaming-desktop.jpg);
    background-position: center;
  }

  @media only screen and (max-width: 479px) {
    #inicio .main-slider-carousel .slide {
      background-image: url(/images/main/streaming-phone.jpg);
    }
  }

  @media only screen and (min-width: 768px){
    #inicio .main-slider-carousel .slide {
      background-image: url(/images/main/streaming-tablet.jpg);
    }
  }

  @media only screen and (max-width: 1140px){
    #inicio .main-slider-carousel .slide {
      background-image: url(/images/main/streaming-desktop.jpg);
    }
  }
</style>