<section
  id="planes"
  class="services-section"
  style="background-image: url(images/background/pattern-2.png)"
>
  <div class="auto-container">
    <h2 class="mb-5 text-center service-title">Planes residenciales</h2>
    <!-- Upper Section -->
    <div class="upper-section">

      <div class="row clearfix">
        <!-- Service block -->
        <div class="service-block col-lg-4 col-md-6 col-sm-12">
          <div
            class="inner-box wow fadeInLeft"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <span class="border-one"></span>
            <span class="border-two"></span>
            <h4><a href="services-detail.html">Familiar</a></h4>
            <div class="text">
              400 megas de descarga y subida + 88 canales de TV por $35
            </div>
            <div class="icon">
              <img src="images/icons/family.svg" alt="" />
            </div>
            <a class="services" href="services-detail.html"
              >Ver servicio <span class="arrow lnr lnr-arrow-right"
              ></span></a
            >
          </div>
        </div>

        <!-- Service block -->
        <div class="service-block active col-lg-4 col-md-6 col-sm-12">
          <div
            class="inner-box wow fadeInUp"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <span class="border-one"></span>
            <span class="border-two"></span>
            <h4><a href="services-detail.html">Básico</a></h4>
            <div class="text">
              100 megas de descarga y subida + 88 canales de TV por $30
            </div>
            <div class="icon">
              <img src="images/icons/basic.svg" alt="" />
            </div>
            <a class="services" href="services-detail.html"
              >Ver servicio <span class="arrow lnr lnr-arrow-right"
              ></span></a
            >
          </div>
        </div>

        <!-- Service block -->
        <div class="service-block col-lg-4 col-md-6 col-sm-12">
          <div
            class="inner-box wow fadeInRight"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <span class="border-one"></span>
            <span class="border-two"></span>
            <h4><a href="services-detail.html">Solo TV</a></h4>
            <div class="text">
              88 canales de televisión por tan solo 7,5$
            </div>
            <div class="icon">
              <img src="images/icons/tv.svg" alt="" />
            </div>
            <a class="services" href="services-detail.html"
              >Ver servicio <span class="arrow lnr lnr-arrow-right"
              ></span></a
            >
          </div>
        </div>
      </div>
    </div>

    <h2 class="mb-5 text-center service-title">Planes empresariales</h2>
    <!-- Upper Section -->
    <div class="upper-section">

      <div class="row clearfix">
        <!-- Service block -->
        <div class="service-block col-lg-4 col-md-6 col-sm-12 offset-lg-4">
          <div
            class="inner-box wow fadeInUp"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <span class="border-one"></span>
            <span class="border-two"></span>
            <h4><a href="services-detail.html">Satelite TV</a></h4>
            <div class="text">
              Lorem ipsum dolor sit amet them consec tetura dipiscing elit sed
              doeiumod Donec modern solution quam felis.
            </div>
            <div class="icon">
              <img src="images/icons/briefcase.svg" alt="" />
            </div>
            <a class="services" href="services-detail.html"
              >Ver servicio <span class="arrow lnr lnr-arrow-right"
              ></span></a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- End Upper Section -->

    <!-- Lower Section -->
    <div id="panel" class="lower-section">
      <div class="row clearfix">
        <!-- Image Column -->
        <div class="image-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner-column titlt" data-tilt data-tilt-max="3">
            <div class="color-layer"></div>
            <div class="border-layer"></div>
            <div class="image">
              <img src="images/resource/service-1.png" alt="" />
            </div>
          </div>
        </div>

        <!-- Content Column -->
        <div class="content-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner-column">
            <!-- Sec Title -->
            <div class="sec-title">
              <!-- <div class="title">WHO WE ARE</div> -->
              <h2>Accede al panel de usuarios</h2>
            </div>
            <div class="bold-text">
              Aquí podrás administrar y controlar diversos aspectos de su cuenta y servicios tales como:
            </div>
            <div class="text">
              <ul class="content-list">
                <li>Gestión de su cuenta</li>
                <li>Configuración de los servicios</li>
                <li>Monitorización y disponibilidad del servicio.</li>
                <li>Soporte y asistencia técnica.</li>
                <li>Facturación y pagos.</li>
              </ul>
            </div>
            <a href="about.html" class="theme-btn btn-style-four"
              ><span class="txt"
                >Acceder <i class="lnr lnr-arrow-right"></i></span
              ></a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- End Lower Section -->
  </div>
</section>

<style>
  .service-title {
    color: #061392;
  }

  .content-list > li {
    list-style-type: disc;
    list-style-position: inside;
    color: #0B94B8;
  }
</style>