<section class="store-section">
  <div class="auto-container">
    <!-- Sec Title -->
    <div class="sec-title centered">
      <div class="title">Online store</div>
      <h2>Our popular products</h2>
    </div>
    <!-- End Sec Title -->

    <div class="four-item-carousel owl-carousel owl-theme">
      <!-- Product Block -->
      <div class="product-block">
        <div class="inner-box">
          <div class="image">
            <a href="shop-single.html"
              ><img src="images/resource/products/1.png" alt="" /></a
            >
          </div>
          <div class="lower-content">
            <a href="shop-single.html" class="name">WiFe Streaming Router</a>
            <div class="price">$33.40</div>
            <ul class="shop-options">
              <li><a href="shop-single.html" class="cart">Add to Cart</a></li>
              <li><a href="shop-single.html" class="fa fa-heart"></a></li>
              <li><a href="shop-single.html" class="fa fa-random"></a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Product Block -->
      <div class="product-block">
        <div class="inner-box">
          <div class="image">
            <a href="shop-single.html"
              ><img src="images/resource/products/2.png" alt="" /></a
            >
          </div>
          <div class="lower-content">
            <a href="shop-single.html" class="name">Ultra HD 2GB+8GB TV Box</a>
            <div class="price">$33.40</div>
            <ul class="shop-options">
              <li><a href="shop-single.html" class="cart">Add to Cart</a></li>
              <li><a href="shop-single.html" class="fa fa-heart"></a></li>
              <li><a href="shop-single.html" class="fa fa-random"></a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Product Block -->
      <div class="product-block">
        <div class="inner-box">
          <div class="image">
            <a href="shop-single.html"
              ><img src="images/resource/products/3.png" alt="" /></a
            >
          </div>
          <div class="lower-content">
            <a href="shop-single.html" class="name">Bluetooth Speaker</a>
            <div class="price">$33.40</div>
            <ul class="shop-options">
              <li><a href="shop-single.html" class="cart">Add to Cart</a></li>
              <li><a href="shop-single.html" class="fa fa-heart"></a></li>
              <li><a href="shop-single.html" class="fa fa-random"></a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Product Block -->
      <div class="product-block">
        <div class="inner-box">
          <div class="image">
            <a href="shop-single.html"
              ><img src="images/resource/products/4.png" alt="" /></a
            >
          </div>
          <div class="lower-content">
            <a href="shop-single.html" class="name">Nest Cam Indoor</a>
            <div class="price">$33.40</div>
            <ul class="shop-options">
              <li><a href="shop-single.html" class="cart">Add to Cart</a></li>
              <li><a href="shop-single.html" class="fa fa-heart"></a></li>
              <li><a href="shop-single.html" class="fa fa-random"></a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Product Block -->
      <div class="product-block">
        <div class="inner-box">
          <div class="image">
            <a href="shop-single.html"
              ><img src="images/resource/products/1.png" alt="" /></a
            >
          </div>
          <div class="lower-content">
            <a href="shop-single.html" class="name">WiFe Streaming Router</a>
            <div class="price">$33.40</div>
            <ul class="shop-options">
              <li><a href="shop-single.html" class="cart">Add to Cart</a></li>
              <li><a href="shop-single.html" class="fa fa-heart"></a></li>
              <li><a href="shop-single.html" class="fa fa-random"></a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Product Block -->
      <div class="product-block">
        <div class="inner-box">
          <div class="image">
            <a href="shop-single.html"
              ><img src="images/resource/products/2.png" alt="" /></a
            >
          </div>
          <div class="lower-content">
            <a href="shop-single.html" class="name">Ultra HD 2GB+8GB TV Box</a>
            <div class="price">$33.40</div>
            <ul class="shop-options">
              <li><a href="shop-single.html" class="cart">Add to Cart</a></li>
              <li><a href="shop-single.html" class="fa fa-heart"></a></li>
              <li><a href="shop-single.html" class="fa fa-random"></a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Product Block -->
      <div class="product-block">
        <div class="inner-box">
          <div class="image">
            <a href="shop-single.html"
              ><img src="images/resource/products/3.png" alt="" /></a
            >
          </div>
          <div class="lower-content">
            <a href="shop-single.html" class="name">Bluetooth Speaker</a>
            <div class="price">$33.40</div>
            <ul class="shop-options">
              <li><a href="shop-single.html" class="cart">Add to Cart</a></li>
              <li><a href="shop-single.html" class="fa fa-heart"></a></li>
              <li><a href="shop-single.html" class="fa fa-random"></a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Product Block -->
      <div class="product-block">
        <div class="inner-box">
          <div class="image">
            <a href="shop-single.html"
              ><img src="images/resource/products/4.png" alt="" /></a
            >
          </div>
          <div class="lower-content">
            <a href="shop-single.html" class="name">Nest Cam Indoor</a>
            <div class="price">$33.40</div>
            <ul class="shop-options">
              <li><a href="shop-single.html" class="cart">Add to Cart</a></li>
              <li><a href="shop-single.html" class="fa fa-heart"></a></li>
              <li><a href="shop-single.html" class="fa fa-random"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
