---
import ScrollToTop from '../components/ScrollToTop.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link href="css/bootstrap.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/responsive.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
		<!-- Responsive -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

	</head>
	<body class="hidden-bar-wrapper">
		<slot />
	</body>
</html>

<script is:inline src="scripts/jquery.js"></script>
<script is:inline src="scripts/popper.min.js"></script>
<script is:inline src="scripts/bootstrap.min.js"></script>
<script is:inline src="scripts/jquery.mCustomScrollbar.concat.min.js"></script>
<script is:inline src="scripts/jquery.fancybox.js"></script>
<script is:inline src="scripts/appear.js"></script>
<script is:inline src="scripts/parallax.min.js"></script>
<script is:inline src="scripts/tilt.jquery.min.js"></script>
<script is:inline src="scripts/jquery.paroller.min.js"></script>
<script is:inline src="scripts/owl.js"></script>
<script is:inline src="scripts/wow.js"></script>
<script is:inline src="scripts/nav-tool.js"></script>
<script is:inline src="scripts/jquery-ui.js"></script>
<script is:inline src="scripts/script.js"></script>
